#output {
  margin-top: 20px;
  font-size: 2em;
}
.dont-show{
  display: none;
}
.teller {
  width: 400px;
  -webkit-filter: drop-shadow(10px 10px 10px #777);
  filter: drop-shadow(10px 10px 10px #777);
}
